*.pro.user
*.stash
*debug/
*release/
*code/debug/
*code/release/
*test/debug/
*test/release/
*lib/
Makefile*
target_wrapper.bat
object_script.*
*.a
*.rc
*.o
moc_*
test/QORMLiteTest
test/target_wrapper.sh
.qtc_clangd
test/database
